body {
 font-family: "Lora", serif;
 color: #455243; /* Couleur du texte */
 overflow-x: hidden; /* Empêche le défilement horizontal */
}

.presentation-estimation {
  width: 100%
  height: 300px
}

.conteneur-presentation {
 width: 70%;
 text-align: center;
 justify-content: center;
 align-items: center;
}
